@import '../_global.scss';

.price-counter-page {

  h1 {
    text-align: center;
  }

  .left {
    float: left;
    width: 60%;
    border-top: 1px black solid;
    min-width: 260px;
    

  }

  .right {
    float: right;
    width: 40%;
    min-width: 260px;
    min-height: calc(100vh - 28px);
    border-left: 1px black solid;
    border-top: 1px black solid;
    padding-left: 8px;
  }

  @media screen and (max-width: 680px) { 
    .left {
      float: none;
      display:block;
      width: 100%;
    }

    .right {
      float: none;
      display: block;
      width: 100%;
      border-top: 2px black solid;
      border-left: 0;
    }
  

  }
}