@import '../_global.scss';

.planner {

  text-align: center;
  margin: 3px;

  label {
    margin-top: 10px;
    margin-bottom: 2px;
    display: inline-block;
  }


  .planner-datepicker {
    
    input {
      text-align: center;
      font-size: 1.2em;
    }

  }

  .planner-controls,
  .planner-break {
    button {
      display: block;
      background-color: $go-color;
      border: 1px black solid;
      border-radius: 4px;
      padding: 5px;
      font-size: 1.15em;
      margin: 14px auto;

    }
  }

  .planner-break,
  .planner-options {
    border-top: 1px black solid; 
    margin-top: 35px;
  }

  input[type='checkbox'] {
    display: none;
  }

  input[type=checkbox] + label {
    font-weight: normal;
    font-size: 1.22em;
  	right:0; left:0;
  	padding-left: 5px;
    cursor: pointer;
    margin: 14px auto;
  }
  input[type=checkbox] + label:hover {
    font-weight: bold;
  }
  input[type=checkbox] + label::before {
  	font-family: FontAwesome;
  	display: inline-block;
  	content: "\f096";
  	width: 1.5em;
    color: black;
  }
  input[type=checkbox]:checked + label::before {
  	content: "\f046";
  }
  
}