@import '../_global.scss';

.planner {

  text-align: center;
  margin: 3px;

  label {
    margin-top: 10px;
    margin-bottom: 2px;
    display: inline-block;
    font-size: 1.1em;
    margin-left: auto;
  }

  .planner-locations {
    width: 95%;
    max-width: 700px;
    min-width: 250px;
    margin: 3px auto;
  }

  .planner-datepicker {
    
    input {
      text-align: center;
      font-size: 1.2em;
    }

  }

  .planner-controls,
  .planner-break {
    button {
      display: block;
      background-color: $go-color;
      border: 1px black solid;
      border-radius: 4px;
      padding: 5px;
      font-size: 1.15em;
      margin: 14px auto;
    }
    p.planner-controls-time {
      font-size: .83em;
      margin-top: 2px;
      margin-bottom: 5px;
    }
  }

  .planner-break,
  .planner-options {
    padding-top: 12px;
    min-width: 250px;
    border-top: 1px black solid; 
    margin-top: 26px;
  }

  .planner-leg-results {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 90%;
      min-width: 250px;

      li {
        font-size: .86em;
        display: block;
        margin: 10px;
      }

    }
  }

}